# Auto detect text files and perform LF normalization
* text=auto
/.github export-ignore
/pdb export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/EEex.png export-ignore
/EEex-PSTEE-*.exe export-ignore
/README.md export-ignore