*
!/.github
!/.github/workflows
!/.github/workflows/*.*
!/.github/workflows/java
!/.github/workflows/java/out
!/.github/workflows/java/out/production
!/.github/workflows/java/out/production/java
!/.github/workflows/java/out/production/java/*.class
!/.github/workflows/java/src
!/.github/workflows/java/src/*.java
!/EEex
!/EEex/*.*
!/EEex/copy
!/EEex/copy/*.*
!/EEex/language
!/EEex/language/*.*
!/EEex/language/english
!/EEex/language/english/*.*
!/EEex/lib
!/EEex/lib/*.*
!/EEex/loader
!/EEex/loader/*.*
!/EEex/loader/Lua52
!/EEex/loader/Lua52/*.*
!/EEex/loader/LuaJIT
!/EEex/loader/LuaJIT/*.*
!/EEex/patch
!/EEex/patch/*.*
!/pdb
!/pdb/*.*
!/pdb/Lua52
!/pdb/Lua52/*.*
!/pdb/LuaJIT
!/pdb/LuaJIT/*.*
!/style
!/style/*.*
!/.gitattributes
!/.gitignore
!/EEex.png
!/package_mod.bat
!/README.md