*
!/.github
!/.github/workflows
!/.github/workflows/*.*
!/.github/workflows/java
!/.github/workflows/java/*.java
!/.github/workflows/java/out
!/.github/workflows/java/out/production
!/.github/workflows/java/out/production/workflows
!/.github/workflows/java/out/production/workflows/*.class
!/EEex
!/EEex/*.*
!/EEex/copy
!/EEex/copy/*.*
!/EEex/loader
!/EEex/loader/*.*
!/EEex/patch
!/EEex/patch/*.*
!/style
!/style/*.*
!/.gitattributes
!/.gitignore
!/EEex.png
!/package_mod.bat
!/README.md